mail.user={emailAddress}
mail.pass={appKeyForTheEmailAddress}
mail.imap.host=imap.gmail.com
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
#Replace emailAddress and appKeyForTheEmailAddress with real ones