.root {
    -fx-min-width: 1200;
    -fx-padding: 10;
}

#welcomeBox {
    -fx-alignment: center;
}

#welcomeLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #017301;
}

.root,
.filterCheckbox,
.filterByDate {
    -fx-spacing: 10;
    -fx-font-size: 16;
}

#dueDatePicker {
    -fx-pref-width: 160;
}

.searchBox {
    -fx-alignment: top-right;
    -fx-spacing: 10;
    -fx-hgrow: always;
}

#searchField {
    -fx-hgrow: always;
    -fx-min-width: 200;
}

.taskTableBox {
    -fx-alignment: center;
}

.taskTable {
    -fx-pref-height: 400;
}

#nameColumn {
    -fx-pref-width: 250;
}

#descriptionColumn {
    -fx-pref-width: 200;
}

#dueDateColumn, #actionsColumn {
    -fx-pref-width: 120;
}

.actionButtons {
    -fx-alignment: center-right;
}

.labelCompleted {
    -fx-text-fill: #017301;
    -fx-font-weight: bold;
}

.labelInProgress {
    -fx-text-fill: #29c4c4;
    -fx-font-weight: bold;
}

.labelToDo {
    -fx-text-fill: rgb(203, 23, 17);
    -fx-font-weight: bold;
}

.filterCheckbox{
    -fx-alignment: center-left;
}

.filterButtons{
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-hgrow: always;
}

.filterByDate {
    -fx-alignment: top-right;
}

.completedProgressBox {
    -fx-spacing: 10;
}

.addTaskBox {
    -fx-spacing: 10;
    -fx-padding: 10px 10px 0px 10px;
}


.editBtn {
    -fx-graphic: url("../../icons/edit16px.png");
    -fx-content-display: graphic-only;
    -fx-padding: 5 7;
    -fx-background-color: transparent;
}

.inProgressBtn {
    -fx-graphic: url("../../icons/process.png");
    -fx-content-display: graphic-only;
    -fx-padding: 5 7;
    -fx-background-color: transparent;
}

.completedBtn {
    -fx-graphic: url("../../icons/checked.png");
    -fx-content-display: graphic-only;
    -fx-padding: 5 7;
    -fx-background-color: transparent;
}

.editBtn:hover,
.inProgressBtn:hover,
.completedBtn:hover,
.editBtn:focused,
.inProgressBtn:focused,
.completedBtn:focused{
    -fx-background-color: rgba(255, 192, 203, 0.75);
    -fx-background-radius: 50%;
}

