.root {
    -fx-spacing: 15;
    -fx-padding: 15;
    -fx-min-width: 400;
    -fx-alignment: center;
}

.changePasswordBox {
    -fx-max-width: 200;
    -fx-spacing: 10;
}

.buttonBox {
    -fx-alignment: center;
    -fx-spacing: 15;
}

#saveNewPsw {
    -fx-background-color: rgba(0, 128, 0, 0.25);
}

#saveNewPsw:hover,
#saveNewPsw:focused {
    -fx-border-color: rgba(0, 128, 0, 0.5);
}