.root {
    -fx-spacing: 15;
    -fx-padding: 15;
    -fx-min-width: 400;
    -fx-alignment: center;
    -fx-font-size: 16;
}

#changePswInfo {
    -fx-text-fill: #bb0000;
    -fx-font-weight: bold;
}

.passwordBox {
    -fx-spacing: 10;
    -fx-max-width: 200;
}

.buttonBox {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 10;
}

#saveNewPsw {
    -fx-background-color: rgba(0, 128, 0, 0.25);
}

#saveNewPsw:hover,
#saveNewPsw:focused {
    -fx-border-color: rgba(0, 128, 0, 0.5);
}