.root {
    -fx-spacing: 15;
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-min-width: 400;
}

.labelBox {
    -fx-min-width: 120;
}

.buttonBox {
    -fx-padding: 5 0 0 0;
}

#addDepartmentBtn{
    -fx-background-color: rgba(0, 128, 0, 0.25);
}

#addDepartmentBtn:hover,
#addDepartmentBtn:focused {
    -fx-border-color: rgba(0, 128, 0, 0.5);
}