.edit-task-window {
    -fx-min-width: 400;
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-font-size: 16;
}

.edit-window-buttons {
    -fx-spacing: 10;
}

#deleteButton {
    -fx-graphic: url("../icons/trash-bin.png");
    -fx-content-display: graphic-only;
}