.editUserView {
    -fx-spacing: 15;
    -fx-padding: 10;
    -fx-font-size: 16;
}

.edit-window-buttons {
    -fx-spacing: 15;
}

#deleteButton {
    -fx-graphic: url("../icons/trash-bin.png");
    -fx-content-display: graphic-only;
}