.main-window,
.filter-checkbox,
.filter-by-date {
    -fx-spacing: 10;
    -fx-font-size: 16;
}

#dueDatePicker {
    -fx-pref-width: 160;
}

.search-box {
    -fx-alignment: top-right;
    -fx-spacing: 10;
    -fx-hgrow: always;
}

#searchField {
    -fx-hgrow: always;
    -fx-min-width: 200;
}

.task-table {
    -fx-pref-height: 300;
}

#nameColumn {
    -fx-pref-width: 100;
}

#descriptionColumn {
    -fx-pref-width: 250;
}

#dueDateColumn, #actionColumn {
    -fx-pref-width: 120;
}

.action-buttons {
    -fx-alignment: center-right;
}

.label-completed {
    -fx-text-fill: #017301;
    -fx-font-weight: bold;
}

.label-inProgress {
    -fx-text-fill: #29c4c4;
    -fx-font-weight: bold;
}

.label-todo {
    -fx-text-fill: rgb(203, 23, 17);
    -fx-font-weight: bold;
}

.filter-checkbox{
    -fx-alignment: center-left;
}

.filter-buttons {
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-hgrow: always;
}

.filter-by-date {
    -fx-alignment: top-right;
}

#descriptionArea {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.task-detail-window, .edit-task-window {
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-font-size: 16;
}

.completed-progress-box, .edit-window-buttons {
    -fx-spacing: 10;
}

.edit-task-window {
    -fx-min-width: 400;
}

.add-task-box {
    -fx-spacing: 10;
    -fx-padding: 10px 10px 0px 10px;
}

#deleteButton {
    -fx-graphic: url("../icons/trash-bin.png");
    -fx-content-display: graphic-only;
}

.edit-btn {
    -fx-graphic: url("../icons/edit16px.png");
    -fx-content-display: graphic-only;
    -fx-padding: 5 7;
    -fx-background-color: transparent;
}

.in-progress-btn {
    -fx-graphic: url("../icons/process.png");
    -fx-content-display: graphic-only;
    -fx-padding: 5 7;
    -fx-background-color: transparent;
}

.completed-btn {
    -fx-graphic: url("../icons/checked.png");
    -fx-content-display: graphic-only;
    -fx-padding: 5 7;
    -fx-background-color: transparent;
}

.edit-btn:hover,
.in-progress-btn:hover,
.completed-btn:hover {
    -fx-background-color: rgba(255, 192, 203, 0.75);
    -fx-background-radius: 50%;
}
